.password(ng-controller='LoginPasswordCtrl')
  .password-wrapper
    form(name='userinfo', novalidate, ng-submit='submit()')
      .alert.alert-danger(ng-show='error')
        span(ng-show='error.$invalid', translate) Check errors old
        span(ng-show='error.$incorrect', translate) Incorrect password details
      .alert.alert-info.selectable
        strong(translate) Tip:
        span &nbsp;
        span(translate) The login password is not limited to any characters, and the length is limited to 6 to 12 digits

      br
      .form-group
        .password.input-group
          span.input-group-addon(style='width:150px;', translate) OldPassword
          input.form-control(id="oldPassword", ng-model='oldPassword', name='oldPassword', required, type='password',
            maxlength=12, minlength=6, style="width:250px;", autocorrect='off', autocapitalize='off', spellcheck='false',
            autocomplete='section-login oldPassword')
          .password.alert(ng-show='userinfo.oldPassword.$invalid')
            i.fa.fa-info-circle.fa-fw
            span(translate) Required, 6 to 12 digits in length

      .form-group
        .password.input-group
          span.input-group-addon(style='width:150px;', translate) NewPassword
          input.form-control(id="newPassword", ng-model='newPassword', name='newPassword', required, type='password',
            maxlength=12, minlength=6, style="width:250px;", autocorrect='off', autocapitalize='off', spellcheck='false',
            autocomplete='section-login newPassword')
          .password.alert(ng-show='userinfo.newPassword.$invalid')
            i.fa.fa-info-circle.fa-fw
            span(translate) Required, 6 to 12 digits in length

      .form-group
        .password.input-group
          span.input-group-addon(style='width:150px;', translate) ConfirmPassword
          input.form-control(id="confirmPassword", ng-model='confirmPassword', name='confirmPassword', required, type='password',
            maxlength=12, minlength=6, style="width:250px;", autocorrect='off', autocapitalize='off', spellcheck='false',
            autocomplete='section-login confirmPassword')
          .password.alert(ng-show='userinfo.confirmPassword.$invalid')
            i.fa.fa-info-circle.fa-fw
            span(translate) Required, 6 to 12 digits in length

      input(type='submit',value='{{ "Submit" | translate }}', style='width: 200px;margin-left: 100px;').btn.btn-lg.btn-primary.btn-block
