.user-list-active-tabs.ng-enter {
  -webkit-transition: 250ms;
  transition: 250ms;
  opacity: 0;
}

.user-list-table{
  margin-top: 40px;
}

.user-list-tr{
  background: #ffac89f0;
  color: white;
}

.add-user {
  padding: 15px;
}

.add-user.add-user-wrapper {
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
}

.add-user-style{
  margin-top: 50px;
}
.add-user.alert{
  color: #f93128;
  width: 400px;
  margin-left: 150px;
  padding: 3px;
}


.add-user.input-group{
  width: -moz-available;
  position: relative;
  display: table;
  border-collapse: collapse;

}

.search-label{
  color: dodgerblue;
  font-size: 15px;
  margin-bottom: 15px;
}

.search-input{
  width: 200px;
  display: initial;
  margin-left: 20px;
  margin-right: 20px;
}

.search-submit{
  width: 100px;
  background: #167ffc;
  color: white;
}

.search-reset{
  width: 100px;
  background: #167ffc;
  color: white;
  margin-left: 10px;
}
