.stf-device-list
  .row.stf-stats-container.unselectable
    .col-md-12
      device-list-stats(tracker='tracker')

  .row.unselectable
    .col-md-12
      .widget-container.fluid-height.stf-device-list-tabs
        .widget-content.padded
          div.huya-div
              div.panel-title 查询条件
                i.fa.fa-angle-double-down
              dl.options(ng-repeat="filter in defaultfilters", ng-if="(filter.name !='version' && filter.name !== 'ios_os')", ng-show='filter.showStatus', style="{{filter.name ==='platform' ? 'color: red;' : 'color: black;'}}")
                dt.title {{(filter.title == 'version' || filter.title === 'ios_os') ? '' : filter.title}}
                dd
                  a(id ="{{filter.name}}" + "_"+ "{{item.name}}" , class="{{(item.name === 'Android' || item.name === 'All') ? 'stf-a-click' : 'stf-a-search'}}", ng-repeat="item in filter.values",
                   ng-show='item.status', href='', ng-click='applyFilter(filter.name, item)') {{item.name == 'All' ? '全部' : item.name}}


                  select.stf-select(ng-if= "undefined != boxData && (filter.name === 'result_version' || filter.name === 'result_ios_os')",
                    ng-model='selectedOrgName',
                    ng-options='item.name  for item in boxData.values',
                    ng-change='applyFilter(boxData.name, this.selectedOrgName)')


          uib-tabset.overflow-auto.device-list-active-tabs(ng-if='activeTabs')
            uib-tab(active='activeTabs.icons', select='focusSearch()', id='iconTab')
              uib-tab-heading
                i.fa.fa-th-large
                span(translate) Devices
              div.device-list-devices-content(ng-if='activeTabs.icons').selectable

              div.huya-div
                device-list-icons(tracker='tracker', columns='columns', sort='sort', filter='filter')

            uib-tab(active='activeTabs.details', select='focusSearch()', ng-if='!$root.basicMode', id='detailTab')
              uib-tab-heading
                i.fa.fa-list
                span(translate) Details
              div.device-list-details-content(ng-if='activeTabs.details').selectable

                device-list-details(tracker='tracker', columns='columns', sort='sort', filter='filter').selectable




